<title>
	<%- head.title %>
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/3rd/bootstrap/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet" type="text/css"/>
<link href="/3rd/shjs/sh_style.css" rel="stylesheet" type="text/css"/>
<script src="/3rd/shjs/sh_main.js" ></script>
<script src="/3rd/shjs/sh_javascript.js" ></script>
<!-- Google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-317979-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
