  <div class="container">
    <div class="content">
		<h2>... is simple</h2> 
<pre  class="prettyprint sh_javascript">/**
 *@RequestMapping(value="/hello-world") 
 */
HalloWorldController.prototype.sayHello = function(request, response){
	response.end("Hello world!");
};</pre>
<div><a href="https://github.com/edjafarov/aries/blob/master/src/controllers/HalloWorldController.js#L11">see code</a></div>
<div><a href="/hello-world">see live</a></div>
		<h2>Features</h2>
		<h3>routing </h3>
		<p>Routing with Aries as simple as writing comments. 
		You just put variable name in curvy braces and put it as a parametr in your constructor. 
		Aries dynamically assigns the value to variable.</p>
		<pre class="prettyprint sh_javascript">
/**
 *@RequestMapping(value="/twitter/{userId}") 
 */
HalloWorldController.prototype.twitterUser = function(request, response, userId){
	//we can use userId here
	//ex. response.end("Hi "+ userId);
};	
		</pre>
<div><a href="https://github.com/edjafarov/aries/blob/master/src/controllers/HalloWorldController.js#L55">see code</a></div>
<div><a href="/twitter">see live</a></div>		
		<h3>asynchronous</h3>
		<p>Every request comes through a chain of functions to pass request to the next 
		function you need to call this.doNext method along with request and response.
</p>
<pre  class="prettyprint sh_javascript">
/**
 *@RequestMapping(value="/twitter/tweets") 
 */
HalloWorldController.prototype.twitterFeed = function(request, response, twitId){
	//you can pass flow to view resolver asynchronously
	this.doNext(request, response);				
};
</pre>
<div><a href="https://github.com/edjafarov/aries/blob/master/src/controllers/HalloWorldController.js#L36">see code</a></div>
<div><a href="/twitter">see live</a></div>	
		<h3>smart binding</h3>
		<p>
		
		Aries provides some magic that allow to get post and get params inside controller by just declaring 
		those as a parameter for controller function</p>
<pre  class="prettyprint sh_javascript">
/**
 *@RequestMapping(value="/twitter/tweets") 
 */
HalloWorldController.prototype.twitterFeed = function(request, response, twitId){
	//you can use twitId here if it is passed as POST or GET parameter
	//ex. response.end("Hi "+ twitId);
};
</pre>
<div><a href="https://github.com/edjafarov/aries/blob/master/src/controllers/HalloWorldController.js#L36">see code</a></div>
<div><a href="/twitter">see live</a></div>	
		
		<h3>middleware</h3>
		<p>Standard request flow goes through following chain:</p>
		<p>
		[filters]->[controller resolver]->[pre controller interceptors]->[controller]->[post controller interceptors]->[view resolver]
which gives us flexibility of using middleware as filters, pre and post controller interceptors.
For example we can use connect's static middleware to handle static content as a filter which is the best to handle before controller resolver.
 To assign class as filter we just need to put Filter annotation before constructor.
		</p>
<pre  class="prettyprint sh_javascript">
var connect = require("connect");
var static = connect.static(__dirname + "/src/static");
/**
 * @Filter
 */
function StaticFilter(){}

StaticFilter.prototype.filter=function(request, response){
	var that=this;
	static(request, response, 
		function(){
			that.doNext(request, response);
		}
	);
}
</pre>	
<div><a href="https://github.com/edjafarov/aries/blob/master/src/filters/StaticFilter.js">see code</a></div>
<div>see live? you are already seeing it. this site's static served by connect middleware</div>		
		<h3>there is more comming</h3>
		<ul>
			<li>session management</li>
			<li>cookie support</li>
			<li>validations handling</li>
			<li>model binding</li>
			<li>view caching</li>
			<li>logger</li>
			<li>what else would you like?</li>
		</ul>
		<h2>Installation</h2>

		<pre class="prettyprint">npm install -g aries</pre>

<p>now start server with</p>
<pre class="prettyprint">aries-start src=./src port=8000</pre>
<p>
where src is a folder with sources of your server and port... is a port
</p>
    </div>
  </div>